html,
body {
  height: calc(100% - 10px);
}
form fieldset {
  margin-bottom: 6px;
  padding-right: 2px;
}
form fieldset label {
  line-height: 1.4;
}
form #basic-information .fields {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  row-gap: 3px;
}
form #basic-information .fields label {
  padding-right: 2ch;
}
form #add-tags ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
form #add-tags ul li {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 3px 0;
}
form #add-tags ul li input:first-of-type {
  padding-right: 9px;
  flex-grow: 10;
}
form #add-tags ul li input:nth-of-type(2) {
  flex-grow: 1;
  max-width: 90px;
}
form #add-tags ul li input,
form #add-tags ul li label {
  padding: 0 6px;
}
form #add-tags ul li label {
  line-height: 1.5;
}
form #add-tags ul li button {
  background: none;
  line-height: 1;
  border: none;
  color: #111;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow ease 0.2s, outline-color ease 0.25s;
  outline: 1px auto white;
  outline-offset: -1px;
}
form #add-tags ul li button:hover {
  box-shadow: 0 0 3px 2px #0004;
}
form #add-tags ul li button:active {
  box-shadow: 0 0 4px 1px #0002;
}
form #add-tags ul li button:focus {
  outline: 1px auto #f0af2f;
  outline-offset: -1px;
}
form #add-tags ul li button:disabled {
  color: darkgrey;
  cursor: default;
}
form #add-tags ul li button:disabled:hover {
  box-shadow: none;
}
form #add-tags ul li button .material-icons {
  padding: 4px;
  font-size: 17px;
}
form #add-props ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
}
form #add-props ul li {
  display: contents;
  margin: 3px 0;
}
form #add-props ul li input:first-of-type {
  padding-right: 9px;
  flex-grow: 10;
}
form #add-props ul li input:nth-of-type(2) {
  flex-grow: 1;
  max-width: 90px;
}
form #add-props ul li input,
form #add-props ul li label {
  padding: 0 6px;
}
form #add-props ul li label {
  line-height: 1.5;
}
form #add-props ul li button {
  background: none;
  line-height: 1;
  border: none;
  color: #111;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow ease 0.2s, outline-color ease 0.25s;
  outline: 1px auto white;
  outline-offset: -1px;
}
form #add-props ul li button:hover {
  box-shadow: 0 0 3px 2px #0004;
}
form #add-props ul li button:active {
  box-shadow: 0 0 4px 1px #0002;
}
form #add-props ul li button:focus {
  outline: 1px auto #f0af2f;
  outline-offset: -1px;
}
form #add-props ul li button:disabled {
  color: darkgrey;
  cursor: default;
}
form #add-props ul li button:disabled:hover {
  box-shadow: none;
}
form #add-props ul li button .material-icons {
  padding: 4px;
  font-size: 17px;
}
